<form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required minlength="3" maxlength="10" pattern="banana" ngModel name="firstName" #firstName="ngModel"
            (change)="log(firstName)" id="firstName" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid" role="alert">
            <div *ngIf="firstName.errors.required">
                First name is required.
            </div>
            <div *ngIf="firstName.errors.minlength">
                First name should be minimum {{firstName.errors.minlength.requiredLength}} characters.
            </div>
            <div *ngIf="firstName.errors.pattern">
                First name doesn't match the pattern.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="comment">
            Comment
        </label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
<br>

<div class="alert alert-dark"> Next Form</div>

<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
        <div *ngIf="contact.touched && !contact.valid">...</div>
        <div class="form-group">
            <label for="firstNameSecond">First Name</label>
            <input required minlength="3" maxlength="10" pattern="banana" ngModel name="firstNameSecond"
                #firstNameSecond="ngModel" id="firstNameSecond" type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="firstNameSecond.touched && !firstNameSecond.valid" role="alert">
                <div *ngIf="firstNameSecond.errors.required">
                    First name is required.
                </div>
                <div *ngIf="firstNameSecond.errors.minlength">
                    First name should be minimum {{firstNameSecond.errors.minlength.requiredLength}} characters.
                </div>
                <div *ngIf="firstNameSecond.errors.pattern">
                    First name doesn't match the pattern.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="commentSecond">
                Comment
            </label>
            <textarea ngModel name="commentSecond" id="commentSecond" cols="1" rows="3" class="form-control"
                style="background-color: aqua;">
    </textarea>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list.
                </label>
            </div>

            <div class="form-group">
                <label for="contactMethod">List of Options</label>
                <select ngModel name="oneOption" id="contactMethod" class="form-control">
                    <option *ngFor="let nameList of listOfOptions" 
                    [value]="nameList.id">{{nameList.name}}</option>
                </select>
            </div>

            <div *ngFor="let method of contactMethods" class="radio">
                <label>
                    <input type="radio" ngModel name="contactMethod" [value]="method.id">
                    {{method.name}}
                </label>
            </div>
        </div>
    </div>
    <p>
        {{ f.value | json }}
    </p>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>